@import "variables";

@mixin anchorStyles(){
        color: $primary-light;
        &:visited {
          color: $secondary-light;
        }
        &:hover {
          color: $heart-color;   
        }
        &:active {
          color: $border-light;
        }
   
}