@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=DM+Sans:opsz@9..40&family=Raleway:wght@300;700&family=Vollkorn+SC:wght@900&display=swap');

html,
body,
main {
    padding: 0;
    margin: 0;
    height: 100%  
}

.light-text {
    font-family: 'Raleway', sans-serif;
}

