@import 'variables';
@import 'mixins';

%textBox {
  background-color: $primary-light;
  opacity: 0.8;
  padding: $base-padding;
  font-size: $font-size-xxl;
  text-align: center;
  font-family: $light-font;
}

%sections {
  height: 50%;
  width: 90%;
  text-align: center;
  margin: auto;
}

%section-titles {
  font-family: $light-font;
  font-size: $font-size-xxl;
}

%section-text {
  width: 50%;
  font-family: $light-font;
  font-size: $font-size-lg;
  background-color: $secondary-light;
  margin-bottom: auto;
  margin-left: $base-margin *4;
  padding: $base-padding * 2;
}

.missionSection {
  background-color: red;
}


.button{
  color:white;
  border-radius: 5px;
  font-size: $font-size-lg;
  padding: $base-padding * 3;
  margin: $base-margin * 1.4;
  border: none;
  box-shadow: $base-box-shadow;
  background-color:$action-light ;
  &:hover{
    background-color: $secondary-light;
    color: black;
    cursor: pointer;
  }
  
  }

  .mainDiv{
    height: 100%;
    width: 100%;
    background-color: $primary-light;
  }

  .hero {
    height: 100%;
    width: 100%;
    background-color: $primary-light;
    background-image: url('/images/dog-licking-face.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    .box {
      position: absolute;
      bottom: 3%;
      right: 3%;
      height: 70%;
      width: 40%;


      .introTitle{
        @extend %textBox;
      }
      .introParagraph {
        @extend %textBox;
        padding: $base-padding * 2.5;
        padding-top: $base-padding * 5.5;
        padding-bottom: $base-padding * 5.5;
        width: 70%;
        margin-top: -4%;
        margin-left: auto;
        font-size: $font-size-xl;
        margin-right: auto;
      }

      .buttonBox {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: $base-margin * (-5.5);
        z-index: 1;
      }
    }
  }

  .aboutUs {
    @extend %sections;
    
    h2 {
      @extend %section-titles;
    }
    .aboutUsContent {
      display: flex;
      position: relative;
      width: 90%;
      margin: auto;
      padding-left: $base-padding * 10;

      .pawsIcon {
        position: absolute;
        top: 0;
        left: 45%;
      }

      .pictureContainer {
        width: 50%;
        position: relative;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        .pictureBackground {
          width: 500px;
          height: 565px;
          background-color: $secondary-light;
          position: absolute;
          z-index: -1;
          transform: rotate(-25deg);
        }
      }
      .aboutUsText {
        @extend %section-text;
        // width: 50%;
        // font-family: $light-font;
        // font-size: $font-size-lg;
        // background-color: $secondary-light;
        // margin-bottom: auto;
        // margin-left: $base-margin *4;
        // padding: $base-padding * 2;
      }
    }
  }

  .misison {
    position: relative;
    @extend %sections;
    h2 {
      @extend %section-titles;
    }
    .pictureContainer{
      width: 50%;
      position: absolute;
      right: -10%;
      top: -15%;

      .pictureBackground{
        position: absolute;
        height: 100%;
        width: 38%;
        top: -10%;
        left: 26%;
        background-color: $border-light;
        z-index: -1;
      }
    }
    .missionText {
      @extend %section-text;
    }
  }

  .animalCommitment {
    @extend %sections;
    h2 {
      @extend %section-titles;
    }
  }