@import 'variables';
@import 'mixins';

%textBox {
  padding: $base-padding * 2;
  
}

%sections {
  width: 90%;
  text-align: center;
  margin: auto;
}


%section-text {
  width: 50%;
  font-size: $font-size-lg;
  margin-bottom: auto;
  margin-left: $base-margin *4;
  padding: $base-padding * 2;
}


.button{
  
  border-radius: 5px;
  font-size: $font-size-lg;
  font-weight: 900;
  padding: $base-padding * 3;
  margin: $base-margin * 1.4;
  border: none;
  box-shadow: $base-box-shadow;
  &:hover{
    cursor: pointer;
  }
  
  }

  .mainDiv{
    height: 100%;
    width: 100%;
    background-color: $primary-light;
  }

  .hero {
    height: 100%;
    width: 100%;
    background-color: $primary-light;
    background-image: url('/images/dog-licking-face.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100dvw * 6;
    position: relative;
    @include xs {
      background-size: 100dvw * 5;
    }
    @include sm {
      background-size: 100dvw * 4;
    }
    @include md {
      background-size: 100dvw * 3;
    }
    @include lg {
      background-size: cover;
    }

    .box {
      padding-top: $base-padding * 2;
      @include lg {
        position: absolute;
        bottom: 15%;
        right: 3%;
        max-height: 70%;
        max-width: 60%;
        min-width: 40%;
        // border: 10px solid black
      }
      
      .introTitle{
        @extend %textBox;
        margin-bottom: $base-margin * 6;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        @include lg {
          margin-bottom: auto;
        }
      }
      .introParagraph {
        @extend %textBox;
        padding: $base-padding * 2.5;
        padding-top: $base-padding * 5.5;
        padding-bottom: $base-padding * 5.5;
        width: 70%;
        margin-top: -4%;
        margin-left: auto;
        font-size: $base-font-size;
        margin-right: auto;
        @include sm {
          font-size: $font-size-lg;
        }
        @include xxl {
          font-size: $font-size-xl;
        }
      }

      .buttonBox {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        margin: auto;
        // margin-top: $base-margin * (-1.5);
        z-index: 1;
        @include lg {
          bottom: $base-padding * (-4.7);
        }
      }
    }
  }

  .aboutUs {
    @extend %sections;
  
    .aboutUsContent {
      display: flex;
      position: relative;
      width: 100%;
      margin: auto;
      padding-left: $base-padding * 10;
      justify-content: space-between;

      .pawsIcon {
        position: absolute;
        top: 0;
        left: 45%;
      }

      .pictureContainer {
        width: 40%;
        position: relative;
        display: flex;
        // margin-top: 20px;
        // margin-bottom: 20px;
        // padding: $base-padding * 5;
        .pictureBackground {
          width: 90%;
          height: 90%;
          position: absolute;
          transform: rotate(-25deg);
          margin: auto;
          }
          .dogPicture {
            width: 90%;
            height: 90%;
            z-index: 1;
        }
      }
      .aboutUsText {
        // width: 40%;
        @extend %section-text;
       
      }
    }
  }

  .misison {
    position: relative;
    @extend %sections;
 
    .pictureContainer{
      width: 50%;
      height: auto;
      position: absolute;
      right: -10%;
      top: -15%;

      .pictureBackground{
        position: absolute;
        height: 100%;
        width: 38%;
        top: -10%;
        left: 26%;
        background-color: $border-light;
        z-index: -1;
      }
    }
    .missionText {
      @extend %section-text;
    }
  }

  .animalCommitment {
    @extend %sections;
    .commitment {
      @extend %section-text;
    }
  }