@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/grid';
%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;
    background-color: $secondary-light;
    h1 {
        font-size: $font-size-xxl;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $base-padding;
        text-align: center;

        .titleContainer > * {
            padding: 0;
            margin: 0;
            font-weight: 500;
            
        }
        p {
            font-size: $font-size-lg;
        }

        a {
            color: black;
            padding: 0 $base-padding;
            text-decoration: none;
            font-size: $font-size-lg;

            &:hover {
                color: white;
            }
        }
    }
}
